plugins {
  id 'nf-schema@2.0.0'
}
docker.enabled = true
dag.overwrite = true 

params {
  input = "./test_data/samplesheet.tsv"
  outdir = "results"

  // Trimmomatic parameters
  BARCODE_FILE = "$baseDir/assets/TruSeq3-PE.fa"
  ILLUMINACLIP = "ILLUMINACLIP:${params.BARCODE_FILE}:2:30:10:11"
  HEADCROP = "HEADCROP:10"
  CROP = "CROP:145"
  SLIDINGWINDOW = "SLIDINGWINDOW:50:25"
  MINLEN = "MINLEN:125"

  defaultCpus = 8
  defaultThreads = 16
  nanoplotThreads = defaultThreads
  ratatoskThreads = defaultThreads
}

profiles {
  standard {
    process {
      withLabel: "trimmomatic" {
        container = 'staphb/trimmomatic:0.39'
        docker.runOptions = "-v ${params.BARCODE_FILE}:${params.BARCODE_FILE} -v ${baseDir}:${baseDir}"
      }
    }
  }
}
